In [ ]:
#1 Find the number of titles that have changed in the United States Code since its last release point

In [46]:
url ='http://uscode.house.gov/download/download.shtml'

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [47]:
response = requests.get(url)
response.status_code

200

In [50]:
soup = BeautifulSoup(response.content, "html.parser")

In [56]:
law = []
for title in soup.select("div.usctitlechanged"):
    law.append(title.get_text().strip())
law

['Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 47 - Telecommunications',
 'Title 50 - War and National Defense']

In [ ]:
#2 Create a Python list with the top ten FBI's Most Wanted names

In [57]:
url = 'https://www.fbi.gov/wanted/topten'

In [58]:
response = requests.get(url)
response.status_code

200

In [59]:
soup = BeautifulSoup(response.content, "html.parser")

In [85]:
niceguys = []
for lad in soup.select("h3"):
    niceguys.append(lad.get_text().strip())

niceguys.pop(10)
niceguys.pop(10)
niceguys

['RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO']

In [ ]:
#3 Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [241]:
url = 'https://www.emsc-csem.org/Earthquake/'

In [242]:
response = requests.get(url)
response.status_code

200

In [243]:
soup = BeautifulSoup(response.content, "html.parser")

In [247]:
dates = []
times = []
latdegs = []
orientlats = []
londegs = []
orientlons = []
depths = []
mags = []
regs = []

for i in range(20):
    dates.append(soup.select("td.tabev6 > b > a")[i].get_text().replace('\xa0', ' ').split(" ")[0])
    times.append(soup.select("td.tabev6 > b > a")[i].get_text().replace('\xa0', ' ').split(" ")[3])
    depths.append(soup.select("td.tabev3")[i].get_text())
    regs.append(soup.select('#reg'+str(i))[0].get_text().replace('\xa0', ''))
for i in range(0,40,2):   
    latdegs.append(soup.select("td.tabev1")[i].get_text().replace('\xa0', ''))
for i in range(1,40,2):
    londegs.append(soup.select("td.tabev1")[i].get_text().replace('\xa0', ''))
for i in range(0,60,3):
    orientlats.append(soup.select("td.tabev2")[i].get_text().replace('\xa0', ''))
for i in range(1,60,3):
    orientlons.append(soup.select("td.tabev2")[i].get_text().replace('\xa0', ''))
for i in range(2,60,3):
    mags.append(soup.select("td.tabev2")[i].get_text())
    
quake = pd.DataFrame({'date':dates,
                 'time':times,
                 'latitude':latdegs,
                  'lat_dir':orientlats,
                 'longitude':londegs,
                  'lon_dir':orientlons,
                 'depth':depths,
                 'magnitude':mags,
                 'region':regs})
quake.head(20)

,date,time,latitude,lat_dir,longitude,lon_dir,depth,magnitude,region
0,2021-11-22,20:42:28.0,28.54,N,17.81,W,30,3.1,"CANARY ISLANDS, SPAIN REGION"
1,2021-11-22,20:32:05.5,28.57,N,17.81,W,35,3.3,"CANARY ISLANDS, SPAIN REGION"
2,2021-11-22,20:31:11.8,19.16,N,155.48,W,36,2.9,"ISLAND OF HAWAII, HAWAII"
3,2021-11-22,20:26:23.0,3.03,S,127.63,E,10,3.6,"SERAM, INDONESIA"
4,2021-11-22,20:07:50.5,28.56,N,17.86,W,35,2.9,"CANARY ISLANDS, SPAIN REGION"
5,2021-11-22,20:03:20.3,28.56,N,17.80,W,31,2.6,"CANARY ISLANDS, SPAIN REGION"
6,2021-11-22,20:00:26.3,28.57,N,17.84,W,35,2.7,"CANARY ISLANDS, SPAIN REGION"
7,2021-11-22,19:52:37.5,28.57,N,17.80,W,35,2.6,"CANARY ISLANDS, SPAIN REGION"
8,2021-11-22,19:52:37.1,38.98,N,15.76,E,177,2.0,"SICILY, ITALY"
9,2021-11-22,19:47:58.0,11.73,N,124.21,E,12,3.2,"LEYTE, PHILIPPINES"
10,2021-11-22,19:47:07.0,38.29,N,22.64,E,0,3.4,GREECE
11,2021-11-22,19:40:52.4,28.57,N,17.81,W,36,2.6,"CANARY ISLANDS, SPAIN REGION"
12,2021-11-22,19:39:26.0,19.71,N,70.59,W,23,2.6,DOMINICAN REPUBLIC
13,2021-11-22,19:38:48.3,28.57,N,17.80,W,35,3.0,"CANARY ISLANDS, SPAIN REGION"
14,2021-11-22,19:37:15.0,1.58,S,120.45,E,10,3.4,"SULAWESI, INDONESIA"
15,2021-11-22,19:32:40.6,28.50,N,17.83,W,34,2.5,"CANARY ISLANDS, SPAIN REGION"
16,2021-11-22,19:20:07.9,28.59,N,17.77,W,45,2.7,"CANARY ISLANDS, SPAIN REGION"
17,2021-11-22,19:10:30.0,42.30,N,143.10,E,50,3.6,"HOKKAIDO, JAPAN REGION"
18,2021-11-22,19:09:57.3,28.56,N,17.84,W,14,2.5,"CANARY ISLANDS, SPAIN REGION"
19,2021-11-22,19:03:41.7,18.14,S,177.99,W,578,4.4,FIJI REGION